{% extends "base.html" %}
{% block content %}
<div class="container-fluid ">
    <div class="col-4 offset-2 " >
        <h3>Register</h3>
        <hr>
<form action="/updatedata/{{data.id}}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label >Name</label>
      <input type="text" class="form-control" name='name' value={{data.Name}} placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label>Age</label>
      <input type="number" class="form-control" name='age'value={{data.Age}} placeholder="Age">
    </div>
    <div class="form-group">
        <label >Address</label>
        <input type="text" class="form-control" name='address' value={{data.Address}} placeholder="Address">
      </div>
      <div class="form-group">
        <label >Phone</label>
        <input type="number" class="form-control" name='phone' value={{data.Phone}} placeholder="Phone">
      </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>

  {% endblock  %}